<!doctype html>
<html lang="en" xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bradibarious | Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

</head>
<body ng-app="bradibatious" ng-controller="SignupContr">
<div class="container">
    <div class="row">
<h1 class="display-2">Bradibarious</h1>
    </div>
    <div class="row">
        <div class="col">
<h3>Sign Up</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
<form ng-submit="submit()">
    <div class="form-group"><label>Username</label><input class="form-control" type="text" ng-model="userId" required="" /></div>
    <div class="form-group"><label>Password</label><input class="form-control" type="password" ng-model="password1" required="" /></div>
    <div class="form-group"><label>Password confirm</label><input class="form-control" type="password" ng-model="password2" required="" /></div>
    <button type="submit" onclick="" class="btn btn-primary">Sign Up</button>
</form>
    </div>
    <div class="col-auto">
        <div ng-show="wrongPasswords" class="alert alert-danger" role="alert">
            Passwords don't match!
        </div>
    </div>
    </div>
    <div class="row mt-3">
        <div class="col">
        <p>Already have an account? <a href="/login">Sign In</a>!</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/angular.min.js"></script>
<script typr="text/javascript" src="js/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>