<!doctype html>
<html lang="en" xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bradibarious | Training</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body ng-app="bradibatious" ng-controller="TrainContr">
<div class="container">
    <div class="row">
    <h1 class="display-2">Bradibarious</h1>
    </div>
    <div class="row mb-3">
        <div class="col-auto">

            <h4 style="display: inline;">Hello, <b>{{username}}</b>! </h4>
        </div>
        <div class="col-auto">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="app" ng-click="">Dictionary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="" ng-click="">Train</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" ng-click="logout()">Log out</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <p id="no_terms"></p>
        </div>
    </div>
    <div ng-hide="hideCarousel" class="row mt-2">
        <div class="col">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="{{barStyle}}" aria-valuenow="{{barWidth}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div ng-hide="hideCarousel" class="row mt-5">
        <div class="card text-center border-light" style="width: 100%" ng-click="nextTerm()">
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1>Click to start 👺</h1>
                </div>
                <div ng-repeat="word in words" class="carousel-item">
                    <h1>{{word}}</h1>
                </div>
                <div class="carousel-item">
                    <h1>That's all 🎉</h1>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div ng-hide="hideCarousel" class="row mt-5">
        <div class="col text-center">
            <p>You will see original words followed by their translations<br/>
                If you spend 15 hours a day watching this you will improve your vocabulary by 42% in a year, bro!</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/angular.min.js"></script>
<script typr="text/javascript" src="/js/angular-cookies.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>